<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <title>Hi </title>
</head>

<body>
     <h1>Working!</h1>
     <% for( let i = 0 ; i < 12 ; i++){ %>
          <div class="card">
               <h4><%= profiles[i].acc %></h4>
               <% for( let z = 0 ; z < profiles[i].actualFeed.length; z++){ %>          
                    <img src="<%= profiles[i].actualFeed[z].url %>" width="100">
               <%}%>               
          </div>
     <%}%>
     <script>
          function addNewRecord(){
               axios.get('/add/asdasdasdasd').then(function (response) {
                    console.log(response);
               }).catch(function (error) {
                    console.log(error);
               });
          }
     </script>
</body>

</html>